Options -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /$
RewriteRule (.*)/ $1 [R=301]

#http://localhost/aig-site/public_html/menu
#RewriteCond %{HTTP_HOST} localhost
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)? $1.php [NC,L]

#http://avonindiangrill.com/aig-site/public_html/menu
#RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{THE_REQUEST} public
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)? $1.php [NC,L]

#http://avonindiangrill.com/menu
#RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{THE_REQUEST} !public
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)? /$1.php [NC,L]
